input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 4px 10px;
    box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #EBEBEB;
	background-color: #EBEBEB;
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
    border: 1px solid #607D8B!important;
	background-color: #FFFFCC;
	outline: transparent;
    z-index: 2;
}
textarea {
	resize: none;
	outline: none;
	width: 100%;
	padding: 4px 10px;
    box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #EBEBEB;
	background-color: #EBEBEB;
}
textarea:focus{
	border: 1px solid #607D8B!important;
	background-color: #FFFFCC;
	outline: transparent;
    z-index: 2;
}
select {
    width: 95%;
	max-width: 350px;
    padding: 3px 10px;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    background-color: #EBEBEB;
}
select:focus {
	border: 1px solid #607D8B!important;
	background-color: #FFFFCC;
	outline: transparent;
    z-index: 2;
}
input[type="radio"] {
  background-color: transparent;
  border: 1px solid #607D8B;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 #607D8B;
  cursor: pointer;
  font: inherit;
  height: 16px;
  outline: none;
  width: 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
	margin: 0 3px 0 6px;
}
input[type="radio"]:checked {
    background-color: #607D8B;
    box-shadow: inset 0 0 0 3px #FFFFCC;
    -webkit-transition: background .15s, box-shadow .1s; 
    transition: background .15s, box-shadow .1s; 
}
input[type=button], input[type=submit], input[type=reset] {
	width: 75%;
	max-width: 350px;
}

/*Specific Select Menu Style */
.selectron{display:inline-block;max-width:350px;min-width:200px;position:relative;width:100%}.selectronselect{display:none}.selectron--disabled{opacity:.5;pointer-events:none}.selectron--is-touch .selectron__select{color:#434343;height:100%;padding:3px 10px 3px 10px;visibility:visible;width:100%;-webkit-appearance:none;-moz-appearance:none;appearance:none}.selectron__select{background-color:transparent;border:none;height:0;left:0;outline:none;position:absolute;top:0;visibility:hidden;width:0}.selectron--is-touch,.selectron__trigger{background-color:#EBEBEB;border-radius:4px;border:1px solid #ccc;box-sizing:border-box;color:#434343;cursor:pointer;height:30px;line-height:1.2;outline:none;overflow:hidden;padding:3px 10px 3px 10px;position:relative;text-align:left;text-overflow:ellipsis;white-space:nowrap;width:100%}.selectron--is-touch::-moz-focus-inner,.selectron__trigger::-moz-focus-inner{border:none}.selectron--is-touch--is-filled,.selectron__trigger--is-filled{color:#666}.selectron--is-touch--is-open,.selectron__trigger--is-open{border-color:#999;border-radius:4px 4px 0 0;color:#666}.selectron--is-touch--is-overflowing,.selectron__trigger--is-overflowing{border-radius:0 0 4px 4px}.selectron--is-touch:focus,.selectron__trigger:focus{border-color:#999}.selectron--is-touch:before,.selectron__trigger:before{content:"";border-bottom:2px solid #607D8B;border-left:2px solid #607D8B;height:10px;border-radius:0 0 0 0px;width:10px;position:absolute;top:50%;right:calc(20px - 4px);margin-top:-1px;-webkit-transform:rotate(-45deg) translate(50%, -50%);-ms-transform:rotate(-45deg) translate(50%, -50%);-o-transform:rotate(-45deg) translate(50%, -50%);transform:rotate(-45deg) translate(50%, -50%)}.selectron__search{-moz-appearance:none;-webkit-appearance:none;appearance:none;border-radius:0;border:1px solid #999;border-top:none;box-sizing:border-box;color:#666;height:45px;left:0;opacity:0;outline:none;padding:3px;position:absolute;top:100%;visibility:hidden;width:100%}.selectron__search+.selectron__options{top:calc(100% + 35px)}.selectron__search--is-overflowing{border-bottom:none;border-top:1px solid #999;bottom:100%;top:auto}.selectron__search--is-overflowing+.selectron__options{bottom:calc(100% + 35px);top:auto}.selectron__search--is-open{opacity:1;visibility:visible}.selectron__options{background-color:#EBEBEB;border-radius:0 0 4px 4px;border:1px solid #999;border-top:none;box-sizing:border-box;left:0;list-style:none;margin:0;max-height:370px;opacity:0;overflow:auto;padding:0;position:absolute;text-align:left;top:100%;visibility:hidden;width:100%;z-index:50;-webkit-overflow-scrolling:touch}.selectron__options--is-open{opacity:1;visibility:visible}.selectron__options--is-overflowing{border-bottom:none;border-radius:4px 4px 0 0;border-top:1px solid #999;bottom:100%;top:auto}.selectron__option{cursor:pointer;line-height:1.2;overflow:hidden;padding:3px 10px 3px;text-overflow:ellipsis;white-space:nowrap}.selectron__option--optgroup{padding:1px 8px 1px 8px}.selectron__option--is-selected{background-color:transparent;color:#607D8B}.selectron__option--is-disabled,.selectron__option[data-value=""]{color:#ccc}.selectron__option--is-disabled{pointer-events:none}.selectron__option--is-hidden{display:none}.selectron__option--is-hovered{background-color:#607D8B;color:#fff !important}.selectron__no-results{line-height:1.2;padding:3px 10px 3px}.selectron__option-group{color:#999;cursor:default;padding:3px 10px 3px}.selectron__icon{display:inline-block;margin:0 5px 0px 0;max-width:50px;vertical-align:middle}.selectron--block .selectron__trigger:before{background-color:#607D8B;border:none;height:100%;margin:0;right:0;top:0;width:50px;-webkit-transform:none;-ms-transform:none;-o-transform:none;transform:none}.selectron--block .selectron__trigger:after{border-color:#fff transparent transparent transparent;border-style:solid;border-width:5px 5px 0 5px;content:"";height:0;width:0;position:absolute;top:50%;margin-top:-2.5px;right:20px}.selectron--dark{color:#fff}.selectron--dark .selectron__trigger{background-color:#363636;border:none;color:#666}.selectron--dark .selectron__trigger--is-filled{color:#fff}.selectron--dark .selectron__trigger--is-open{background-color:#434343;color:#fff}.selectron--dark .selectron__trigger:focus{background-color:#434343}.selectron--dark .selectron__options{background-color:#363636;border:none}.selectron--dark .selectron__option[data-value=""]{color:#666}.selectron--dark .selectron__option--is-hovered,.selectron--dark .selectron__option:hover{color:#fff}